{% extends 'usuarios/administrador/panel_administrador.html' %}
{% load static %}

{% block dashboard %}
    <div class="Mensaje">
        <h1>PRODUCTOS</h1>
    </div>
    <div class="tabla" style="width: 1000px;">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Categoria</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>
                        {{ producto.cantidad }}
                    </td>
                    <td>{{ producto.categoria_id }}</td>
                    <td class="opciones-tabla">
                        <a href="{% url 'usuarios:actualizar_producto' producto.id %}" class="enlace enlace-edit"><i class='bx bxs-pencil'></i></a>
                    </td>
                    <td class="opciones-tabla">
                        <a href="{% url 'usuarios:eliminar_producto' producto.id %}" class="enlace enlace-delete "><i class='bx bx-x' ></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="agregar">
        <a href="{% url 'usuarios:registrar_producto' %}" class="boton">
            <i class="icon ion-md-add-circle"></i>
            <span class="link_name">Añadir Producto</span>
        </a>
    </div>
{% endblock dashboard %}