{% load static %}
<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <title>{% block titulo %}Añadir Producto{% endblock titulo %}</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'css/styleforms.css' %}">
</head>
<body>
  <div class="form">
    <div class="tab-content">
      <div class="head">
        <img class="logo" src="{% static 'img/milogo.png' %}">
      </div>
      <h1>{% block card_title %}Añadir Producto{% endblock card_title %}</h1> 
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field-wrap">
            {{ form.nombre }}
        </div>
        <div class="field-wrap">
          {{ form.descripcion }}
        </div>
        <div class="field-wrap">
            {{ form.precio }}
        </div>
        <div class="field-wrap">
            {{ form.cantidad }}
        </div>
        <div class="field-wrap">
            {{ form.imagen }}                
        </div>
        <div class="field-wrap">
            {{ form.categoria_id }}                
        </div>
        <div class="field-wrap">
            <button class="button button-block" type="submit">Añadir</button>
        </div>
      </form>
    </div>
  </div> 
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{% static 'js/forms.js' %}"></script>
</body>
</html>
