{% extends 'usuarios/tecnico/panel_tecnico.html' %}
{% load static %}

{% block dashboard %}
    <div class="Mensaje">
        <h1>PEDIDOS</h1>
    </div>
    <div class="tabla" style="width: 1200px; height: 600px;">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Comprador</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                    <th>Componentes</th>
                    <th>Estado</th>
                    <th>Enviar</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.comprador }}</td>
                    <td>{{ pedido.precio }}</td>
                    <td>{{ pedido.fecha_pedido }}</td>
                    <td>
                        {% for componente in pedido.productos.all %}
                            • {{ componente.nombre}} <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% if pedido.estado %}
                            Enviado
                        {% else %}
                            En Proceso
                        {% endif %}
                    </td>
                    <td class="opciones-tabla">
                        <a href="{% url 'usuarios:actualizar_pedido' pedido.id %}" class="enlace enlace-edit "><i class='bx bxs-plane' ></i></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock dashboard %}